.ProductList {
  width: 900px;
  margin: 0 auto;
  .lists {
    height: 40px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    .priceList {
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -4px -4px 9px -3px #e8e8e8, 4px 4px 9px -3px #e8e8e8;
    }
    .bookMarkList {
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e8e8e8;
      border-radius: 3px;
      color: #909090;
    }
  }
  .selectBox {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > button {
      margin-left: 20px;
      font-size: 12px;
      font-weight: bolder;
      color: #696969;
      cursor: pointer;
    }
  }
  .productInfoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: #e8e8e8;
  }
  .currency {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-bottom: 1px solid #dcdcdc;
    &:hover {
      background: #f5f5f5;
    }
    .name {
      width: 25%;
      font-size: 13px;
      font-weight: bold;
    }
    .symbol {
      width: 10%;
      font-size: 10px;
      font-weight: bold;
      color: gray;
    }
    .price {
      width: 15%;
      text-align: right;
      font-size: 12px;
      font-weight: bold;
    }
    .dayperPlus {
      width: 15%;
      text-align: right;
      color: blue;
      font-size: 12px;
      font-weight: bold;
    }
    .dayperMinus {
      width: 15%;
      text-align: right;
      color: red;
      font-size: 12px;
      font-weight: bold;
    }
    .volume {
      width: 40%;
      text-align: right;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .moreCurrency {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 40px;
  }
}
